<app-alert-modal (closed)="showAlert=false" [show]="showAlert"></app-alert-modal>
<app-construction-list
  (closed)="showConstructionList = false"
  (choosed)="goToConstruction($event)"
  [show]="showConstructionList"
  [constructions]="constructions"
></app-construction-list>
<section
  class="home"
  style="background-image: url('assets/imgs/home-background.jpg')"
>
  <div class="navbar">
    <div class="navbar-logo">
      <img src="assets/imgs/logo.png" alt="Logo" />
    </div>
    <div class="navbar-menu">
      <ul>
        @if (!isLogged){
        <li (click)="goTo('login')"><a>Entrar</a></li>
        <li (click)="goTo('register')"><a>Cadastre-se</a></li>
        } @else {
        <li (click)="logout()"><a>Encerrar sessão</a></li>
        <li (click)="goTo('profile')"><a>Ver Perfil</a></li>
        }
      </ul>
    </div>
  </div>

  <main class="search">
    <div class="search-header">
      <button>
        <p
          [ngStyle]="{
            'background-color': findById ? hActivedButton : hDeactivatedButton
          }"
          (click)="setFindById(true)"
        >
          Buscar por ID
        </p>
      </button>
      <button>
        <p
          [ngStyle]="{
            'background-color': !findById ? hActivedButton : hDeactivatedButton
          }"
          (click)="setFindById(false)"
        >
          Buscar por CPF/CNPJ
        </p>
      </button>
    </div>
    <div class="search-field">
      <input
        type="text"
        [(ngModel)]="constructionId"
        placeholder="{{ searchText }}"
        (keyup.enter)="findConstruction()"
      />
      <button (click)="findConstruction()">
        <img src="assets/imgs/search-icon.png" alt="Pesquisar" />
      </button>
    </div>
    <div class="search-footer">
      <a href="https://github.com/Helmont1/ConstructionFlow">
        <button>
          <p>Sobre o Construction Flow</p>
        </button>
      </a>
      <a href="https://constructionflow.azurewebsites.net/swagger/index.html">
        <button>
          <p>Precisa de ajuda? Contate-nos</p>
        </button>
      </a>
    </div>
  </main>
</section>
