<section
  class="home"
  style="background-image: url('assets/imgs/home-background.jpg')"
>
  <div class="navbar">
    <div class="navbar-logo">
      <img src="assets/imgs/logo.png" alt="Logo" />
    </div>
    <div class="navbar-menu">
      <ul>
        <li><a href="#about">Entrar</a></li>
        <li><a href="#services">Cadastre-se</a></li>
      </ul>
    </div>
  </div>

  <main class="search">
    <div class="search-header">
      <button>
        <p
          [ngStyle]="{
            'background-color': findById ? hActivedButton : hDeactivatedButton
          }"
          (click)="setFindById(true)"
        >
          Buscar por ID
        </p>
      </button>
      <button>
        <p
          [ngStyle]="{
            'background-color': !findById ? hActivedButton : hDeactivatedButton
          }"
          (click)="setFindById(false)"
        >
          Buscar por CPF/CNPJ
        </p>
      </button>
    </div>
    <div class="search-field">
      <input type="text" placeholder="Digite o id da obra" />
      <button>
        <img src="assets/imgs/search-icon.png" alt="Pesquisar" />
      </button>
    </div>
    <div class="search-footer">
      <button>
        <p>Sobre o Construction Flow</p>
      </button>
      <button>
        <p>Precisa de ajuda? Contate-nos</p>
      </button>
    </div>
  </main>
</section>
