<p class="title">Fluxo da obra</p>
<div class="activies">
  @for (atividade of atividades; track atividade.id; let i = $index, f = $first,
  l = $last) {
  <app-activity
    [hasTimeLine]="l? false: hasTimeLine(atividade, atividades[i + 1])"
    [hasBar]="!l"
    [stage]="atividade.statusId == 1? 'not started': atividade.statusId == 2? 'half': 'full'"
    [data]="{
      year: atividade.startDate.getFullYear(),
      date: '' + getMonthName(atividade.startDate.getMonth()) + ' '+atividade.startDate.getDate(),
      name: 'Need Name'
    }"
  ></app-activity>
}
</div>
