.container {
  display: flex;
  padding: 0;

  .cover {
    display: block;
    z-index: 2;

    .date {
      display: flex;
      justify-content: center;

      p {
        margin: 0;
        color: #41c397;
        text-shadow: 0px 0px 5px #41c397;
      }
    }

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #aaaaaa;
      color: white;
      border: 1px solid black;
    }

    .circle-green {
      background-color: #41c397;
    }

    .name {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 50px;


      .line {
        border-left: 1px solid #41c397;
        height: 1rem;
        width: 1px;
      }

      .title {
        overflow: hidden;
        max-width: 200%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .progress-bar {
    display: flex;
    flex-direction: column;
    margin-inline: -2px;
    width: 8rem;
    margin-bottom: 4.5rem;
    justify-content: end;

    .time-separator {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .line {
        border-left: 1px solid black;
        height: 1rem;
        width: 1px;
      }
      p {
        margin: 0;
        font-size: 0.7rem;
      }
    }

    .bar {
      height: 1rem;
      width: 100%;
      border-block: 1px solid black;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;

        border-radius: 0 0.35rem 0.35rem 0;
      }
    }

    .bar-half::before {
      width: 55%;
      background-color: #41c397;
    }

    .bar-full::before {
      background-color: #41c397;
      width: 100%;
      border-radius: 0;
    }
  }
}
