<app-alert></app-alert>

<!-- (✿◡‿◡)   (^◕.◕^) -->   
<app-left-navbar></app-left-navbar>
<section class="register" style="background-color: lightgray">
  <div class="register-container">
    <h1>Cadastrar nova obra</h1>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="saveConstruction()"
      novalidate
      style="width: 100%"
    >
      <div class="register-field">
        <p>Nome da obra</p>
        <div class="input">
          <i class="fa-regular fa-building"></i>
          <input
            type="text"
            placeholder="Digite o nome da obra"
            id="name"
            name="name"
            formControlName="name"
          />
        </div>
      </div>
      <div class="register-field">
        <p>Data de ínicio:</p>
        <div class="input">
          <i class="fa-regular fa-calendar"></i>
          <input
            type="date"
            formControlName="startDate"
            id="startDate"
            class="form-control"
            placeholder="Digite a data de ínicio"
            required
          />
        </div>
      </div>
      <div class="register-field">
        <p>Data de fim:</p>
        <div class="input">
          <i class="fa-regular fa-calendar"></i>
          <input
            type="date"
            formControlName="endDate"
            id="endDate"
            placeholder="Digite a data de fim"
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('endDate')?.invalid &&
            (registerForm.get('endDate')?.dirty ||
              registerForm.get('endDate')?.touched)
          "
        >
          <p *ngIf="registerForm.get('endDate')?.errors?.required">
            Campo obrigatório
          </p>
        </div>
      </div>
      <mat-radio-group aria-label="Selecione o tipo de cliente:" [(ngModel)]="company">
        <mat-radio-button value="true">Empresa</mat-radio-button>
        <mat-radio-button value="false">Pessoa fisica</mat-radio-button>
      </mat-radio-group>
      @if (company) {
        <div class="register-field">
          <p>CNPJ:</p>
          <div class="input">
            <i class="fa-regular fa-building"></i>
            <input
              type="text"
              formControlName="cnpj"
              id="customer"
              placeholder="Digite o CNPJ/CPF do cliente"
              mask="00.000.000/0000-00"
              required
            />
          </div>
        </div>
      }
        <div
          class="warning"
          *ngIf="
            registerForm.get('cnpj')?.invalid &&
            (registerForm.get('cnpj')?.dirty ||
              registerForm.get('cnpj')?.touched)
          "
        >
          <p *ngIf="registerForm.get('cnpj')?.errors?.required">
            Campo obrigatório
          </p>
        </div>
        <button class="btn" type="submit" routerLink="/login">Cadastrar</button>
    </form>
  </div>
</section>
