@import "../../variables.scss";

.register {
  padding-block: 2%;
  display: flex;
  background-color: lightgray;
  align-items: center;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      font-size: 30px;
      margin-bottom: 5px;
      color: $h-background-button;
    }

    .register-field {
      width: 100%;
      margin-top: 30px;
      text-align: left;

      p {
        margin-bottom: 5px;
        font-size: 14px;
        color: $h-background-button;
      }

      .show-modal-btn {
        background-color: #fff;
        color: #0066a6;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #0066a6;
        cursor: pointer;
        margin-bottom: 10px;

        &:hover {
          transform: scale(1.01);
        }
      }

      .warning p {
        color: rgb(156, 16, 16);
        font-size: 12px;
        padding-left: 5px;
        margin-top: 1px;
      }

      .input {
        position: relative;
        display: inline-block;
        width: 100%;
      }

      .label {
        position: relative;
        display: inline-block;
        width: 100%;
      }

      .label i {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-60%);
        color: $h-background-button;
      }

      .label label {
        padding-left: 30px;
        padding-block: 5px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        width: 100%;
      }

      .input i {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-60%);
        color: $h-background-button;
      }

      .input input {
        padding-left: 30px;
        padding-block: 5px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        width: 100%;
      }

      .activities-list {
        width: 70%;
      }
    }
    .btn {
      margin-top: 12%;
      background-color: $h-background-button;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      outline: none;
      width: 100%;
    }

    a {
      color: $h-background-button;
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: var(--color-primary) !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: red !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.card {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  .activities-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: lightgray;
    cursor: move;

    &:hover {
      background-color: #f5f5f5;
    }

    i {
      margin-right: 10px;
    }
    .delete {
      color: $danger;
      cursor: pointer;

      &:hover {
        color: red;
        transform: scale(1.1);
      }
    }
  }
  .dates-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-top: none;
    width: 96%;
    margin-left: 2%;

    p {
      font-size: 0.7rem;
    }

    .date-container {
      display: block;

      input {
        width: 95%;
      }
    }
  }
}

.cdk-drag-preview {
  @extend .card;
}

.cdk-drag-placeholder {
  opacity: 0;
}
