<app-activity-modal
  [show]="showActivityModal"
  (saved)="addActivity($event)"
  (closed)="showActivityModal = false"
></app-activity-modal>
<app-left-navbar></app-left-navbar>
<section class="register">
  <div class="register-container">
    <h1>Cadastrar nova obra</h1>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      novalidate
      style="width: 100%"
    >
      <div class="register-field">
        <p>Nome da obra</p>
        <div class="input">
          <i class="fa-regular fa-building"></i>
          <input
            type="text"
            placeholder="Digite o nome da obra"
            id="name"
            name="name"
            formControlName="name"
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('name')?.invalid &&
            (registerForm.get('name')?.dirty ||
              registerForm.get('name')?.touched)
          "
        >
          <p>Campo obrigatório</p>
        </div>
      </div>
      <div class="register-field">
        <p>Atividades</p>
        <button
          type="button"
          class="show-modal-btn"
          (click)="showActivityModal = true"
        >
          <i class="fa-regular fa-plus"></i>
          Adicionar atividade
        </button>
        <div
          cdkDropList
          class="activities-list"
          (cdkDropListDropped)="drop($event)"
        >
          @for (defaultActivity of defaultActivities; track defaultActivity; let
          i = $index) {
          <div cdkDrag class="card">
            <div class="activities-box">
              <div>
                <i [class]="defaultActivity.icon"></i>
                {{ defaultActivity.activityName }}
              </div>
              <i
                class="fa-solid fa-trash delete"
                (click)="deleteActivity(defaultActivity)"
              ></i>
            </div>
            <div class="dates-container">
              <div class="date-container">
                <p>Data de ínicio</p>
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="defaultActivity.startDate"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="date-container">
                <p>Data de fim</p>
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="defaultActivity.endDate"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="date-container">
                <p>Orçamento da atividade (R$):</p>
                <input
                  class="form-control"
                  type="text"
                  mask="separator.0"
                  prefix="R$ "
                  thousandSeparator="."
                  [(ngModel)]="defaultActivity.budget"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="register-field">
        <p>Data de ínicio:</p>
        <div class="input">
          <i class="fa-regular fa-calendar"></i>
          <input
            type="date"
            formControlName="startDate"
            id="startDate"
            class="form-control"
            placeholder="Digite a data de ínicio"
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('startDate')?.invalid &&
            (registerForm.get('startDate')?.dirty ||
              registerForm.get('startDate')?.touched)
          "
        >
          <p>Campo obrigatório</p>
        </div>
      </div>
      <div class="register-field">
        <p>Data de fim:</p>
        <div class="input">
          <i class="fa-regular fa-calendar"></i>
          <input
            type="date"
            formControlName="endDate"
            id="endDate"
            placeholder="Digite a data de fim"
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('endDate')?.invalid &&
            (registerForm.get('endDate')?.dirty ||
              registerForm.get('endDate')?.touched)
          "
        >
          <p>Campo obrigatório</p>
        </div>
      </div>
      <div class="register-field">
        <p>CNPJ/CPF do cliente:</p>
        <div class="input">
          <i class="fa-regular fa-building"></i>
          <input
            type="text"
            formControlName="register"
            id="register"
            placeholder="Digite o CNPJ ou CPF do cliente"
            [mask]="
              registerForm.get('register')?.value &&
              registerForm.get('register')?.value.length <= 11
                ? '000.000.000-009'
                : '00.000.000/0000-00'
            "
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('register')?.invalid &&
            (registerForm.get('register')?.dirty ||
              registerForm.get('register')?.touched)
          "
        >
          <p *ngIf="registerForm.get('register')?.errors?.required">
            Campo obrigatório
          </p>
          <p
            *ngIf="
              registerForm.get('register')?.errors?.mask &&
              registerForm.get('register')?.touched
            "
          >
            CNPJ/CPF inválido
          </p>
        </div>
      </div>
      <div class="register-field">
        <p>Orçamento</p>
        <div class="input">
          <i class="fa-solid fa-sack-xmark"></i>
          <input
            type="text"
            placeholder="Digite o orçamento"
            id="budget"
            name="budget"
            formControlName="budget"
            mask="separator.0"
            prefix="R$ "
            thousandSeparator=" "
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('budget')?.invalid &&
            registerForm.get('budget')?.touched
          "
        >
          <div *ngIf="registerForm.get('budget')?.errors?.required">
            <p>Campo obrigatório</p>
          </div>
          <div *ngIf="registerForm.get('budget')?.errors?.min">
            <p>Valor mínimo: R$ 1,00</p>
          </div>
        </div>
      </div>
      <button class="btn" type="submit" [disabled]="!registerForm.valid">
        Cadastrar
      </button>
    </form>
  </div>
</section>
