@import "../../variables.scss";

.register {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: l;
  align-items: center;
  justify-content: center;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    width: 100%;
    position: absolute;
    top: 0;

    &-logo {
      img {
        width: 5vw;
      }
    }

    &-menu {
      ul {
        list-style: none;

        li {
          display: inline;
          margin-right: 20px;
          font-size: 1rem;
          font-weight: 500;
          cursor: pointer;

          a {
            text-decoration: none;
            color: white;
            font-weight: normal;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        li:nth-child(2) {
          background-color: $h-background-button;
          padding: 10px 20px;
          border-radius: 100px;
        }
      }
    }
  }

  h6 {
    color: rgb(156, 16, 16);
    margin-bottom: 10px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 25%;
    min-height: 55%;

    h1 {
      font-size: 30px;
      margin-bottom: 5px;
      color: $h-background-button;
    }

    .register-field {
      width: 100%;
      margin-top: 30px;
      text-align: left;

      p {
        margin-bottom: 5px;
        font-size: 14px;
        color: $h-background-button;
      }

      .warning p {
        color: rgb(156, 16, 16);
        font-size: 12px;
        padding-left: 5px;
        margin-top: 1px;
      }

      .input {
        position: relative;
        display: inline-block;
        width: 100%;
      }

      .label {
        position: relative;
        display: inline-block;
        width: 100%;
      }

      .label i {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-60%);
        color: $h-background-button;
      }

      .label label {
        padding-left: 30px;
        padding-block: 5px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        width: 100%;
      }

      .input i {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-60%);
        color: $h-background-button;
      }

      .input input {
        padding-left: 30px;
        padding-block: 5px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        width: 100%;
      }
    }
    .btn {
      margin-top: 12%;
      background-color: $h-background-button;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      outline: none;
      width: 100%;
    }

    a {
      color: $h-background-button;
      margin-top: 5px;
      font-size: 12px;
    }
  }
}