@if (carouselItems && carouselItems.length > 0){
    <div class="carousel-container">
        @for (item of carouselItems; track item.constructionId; let i = $index; let last = $last){
            <a [routerLink]="'/construction-admin/'+item.id" [ngClass]="getActiveClass(i)" class="item">
                @if(item.image){
                    <img src="{{item.image}}" alt="{{item.title}}">
                }
                @else{
                    <img src="{{defaultImage}}" alt="{{item.title}}">
                }
                <div>
                    <h3>{{item.title}}</h3>
                    <p>Id: #{{item.id}}</p>
                    <p>Ínicio em: {{item.startDate | date:'dd/MM/yyyy'}}</p>
                    <p>Término previsto: {{item.endDate | date:'dd/MM/yyyy'}}</p>
                    <p>Cliente: {{format(item.customer.customerCnpj ?? item.customer.customerCpf)}}</p>
                </div>
            </a>
        }
        @if (indicators){
            <div class="dots-container">
                @for (dot of carouselItems.slice(0, calculateSliceLength()); track dot.constructionId; let i = $index){
                    <span class="dot" [ngClass]="{'dot-active': selectedIndex === (i * itemsPerSlide)}" (click)="selectItem(i * itemsPerSlide)"></span>
                }
            </div>
        }
        @if (controls) {
            <button class="btn-carousel btn-prev" (click)="onPrevClick()">
                <i class="fa-solid fa-chevron-left icon-carousel icon-prev"></i>
            </button>
            <button class="btn-carousel btn-next" (click)="onNextClick()">
                <i class="fa-solid fa-chevron-right icon-carousel icon-next"></i>
            </button>
        }
    </div>
}
