.hidden {
  display: none;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  width: 300px;
  height: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;

  p{
    margin: 0;
    font-size: 0.9rem;
    margin-top: 10px;
  }

  button{
    right: 15px;
    bottom: 10px;
    position: absolute;
    font-size: 0.9rem;
    padding: 5px;
    border: none;
    background-color: #0066a6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
  }

  input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }

  .title{
    display: flex;
    align-items: center;

    p{
      font-size: 1rem;
      margin: 0;
      font-weight: 500;
    }

    i {
      color: #0066a6;
      margin-right: 10px;
      margin-top: 2px;
    }

    .close{
      margin-left: auto;
      font-size: 1.5rem;
      color: rgb(196, 0, 0);
      cursor: pointer;
    }
  }
}
