<div [class]="show? 'modal':'hidden'">
  <div class="modal-content">
    <div class="title">
      <i class="fa-solid fa-circle-plus"></i>
      <p>Criar nova atividade</p>
      <i (click)="show=false" class="fa-solid fa-xmark close"></i>
    </div>
    <p>Preencha os campos</p>
    <input type="text" [(ngModel)]="activityName" placeholder="Nome da atividade">
    <input type="text" [(ngModel)]="iconClasses" placeholder="Classes do ícone">
    <button (click)="save()">Salvar</button>
  </div>
</div>
