@import '../../variables.scss';

:host {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 35vh;
    margin-left: 3.5rem;
    width: calc(100vw - 3.5rem);

    .email{
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            margin-right: 2%;
            margin-top: 1%;
        }
    }
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    width: calc(100vw - 3.5rem);
    margin-left: 3.5rem;

    .tab {
        padding: 1%;
        flex-direction: row;
        display: flex;
        margin: 1%;
        text-wrap: nowrap;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: #CCC;
        }

        i {
            margin-right: 3%;
        }
    }

    .active {
        color: #005DB8;
    }
}

.carousel {
    height: 40vh;
    margin-left: 3.5rem;
    width: calc(100vw - 3.5rem);
}