<app-alert></app-alert>
<app-left-navbar></app-left-navbar>
<div>
    <div class="header">
        <h1>{{user.userName}}</h1>
        <p style="margin-right: 2%;">CNPJ: {{formatCnpj(user.userCnpj)}}</p>
        <div class="email">
            <i class="fa-regular fa-envelope"></i>
            <a href="mailto:email@email.com">email&#64;email.com</a>
        </div>
    </div>
    <div class="tabs">
        <div class="tab" [class.active]="showPending" (click)="setShowPending(true)">
            <i class="fa-solid fa-hammer"></i>
            <p>Obras em andamento</p>
        </div>
        <div class="tab" [class.active]="!showPending" (click)="setShowPending(false)">
            <i class="fa-solid fa-flag-checkered"></i>
            <p>Obras finalizadas</p>
        </div>
        <div class="tab" (click)="createConstruction()">
            <i class="fa-solid fa-plus"></i>
            <p>Adicionar obra</p>
        </div>
    </div>
    <div class="carousel">
        @if (showPending){
            <app-carousel [carouselItems]="items"></app-carousel>
        }
        @else{
            <app-carousel [carouselItems]="items.slice(3, items.length-1)"></app-carousel>
        }
    </div>
</div>