<section class="register">
    <div class="navbar">
        <div class="navbar-logo">
            <img src="assets/imgs/logo.png" alt="Logo" />
        </div>
        <div class="navbar-menu">
            <ul>
                <li><a href="#about">Entrar</a></li>
                <li><a href="#services">Cadastre-se</a></li>
            </ul>
        </div>
    </div>

    <div class="register-header">
        <h1>Cadastre-se</h1>
    </div>
    <div class="register-form">
        <form>
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" id="name" />
            </div>
            <p>register works!</p>