<section
  class="register"
  style="background-image: url('assets/imgs/home-background.jpg')"
>
  <div class="navbar">
    <a routerLink="/home">
      <div class="navbar-logo">
        <img src="assets/imgs/logo.png" alt="Logo" />
      </div>
    </a>
    <div class="navbar-menu">
      <ul>
        <li><a routerLink="/home">Ínicio</a></li>
        <li><a routerLink="/login">Entrar</a></li>
      </ul>
    </div>
  </div>
  <div class="register-container">
    <h1>Cadastro</h1>
    <h6>Página direcionada para cadastro de empresas</h6>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      novalidate
      style="width: 100%"
    >
      <div class="register-field">
        <p>Email:</p>
        <div class="input">
          <i class="fa-regular fa-envelope"></i>
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            placeholder="Digite seu email"
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            !registerForm.get('email')?.valid &&
            (registerForm.get('email')?.dirty ||
              registerForm.get('email')?.touched)
          "
        >
          <p *ngIf="registerForm.get('email')?.errors?.required">
            Email é obrigatório
          </p>
          <p
            *ngIf="
              registerForm.get('email')?.touched &&
              registerForm.get('email')?.errors?.email
            "
          >
            Email inválido
          </p>
        </div>
      </div>
      <div class="register-field">
        <p>Nome:</p>
        <div class="input">
          <i class="fa-regular fa-envelope"></i>
          <input
            type="text"
            formControlName="name"
            id="name"
            placeholder="Digite o nome fantasia da empresa"
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('name')?.invalid &&
            (registerForm.get('name')?.dirty ||
              registerForm.get('name')?.touched)
          "
        >
          <p *ngIf="registerForm.get('name')?.errors?.required">
            Campo obrigatório
          </p>
        </div>
      </div>
      <div class="register-field">
        <p>CNPJ:</p>
        <div class="input">
          <i class="fa-regular fa-building"></i>
          <input
            type="number"
            formControlName="cnpj"
            id="cnpj"
            placeholder="Digite o CNPJ"
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('cnpj')?.invalid &&
            (registerForm.get('cnpj')?.dirty ||
              registerForm.get('cnpj')?.touched)
          "
        >
          <p *ngIf="registerForm.get('cnpj')?.errors?.required">
            Campo obrigatório
          </p>
        </div>
      </div>
      <div class="register-field">
        <p>Senha:</p>
        <div class="input">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            formControlName="password"
            id="password"
            placeholder="Digite a senha"
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('password')?.invalid &&
            (registerForm.get('password')?.dirty ||
              registerForm.get('password')?.touched)
          "
        >
          <p *ngIf="registerForm.get('password')?.errors?.required">
            Campo obrigatório
          </p>
          <p *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.minlength">
            Sua senha deve ter no mínimo 6 caracteres
          </p>
        </div>
      </div>
      <div class="register-field">
        <p>Confirme sua senha:</p>
        <div class="input">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            formControlName="confirmPassword"
            id="confirmPassword"
            placeholder="Confirme sua senha"
            required
          />
        </div>
        <div
          class="warning"
          *ngIf="
            registerForm.get('confirmPassword')?.invalid &&
            (registerForm.get('confirmPassword')?.dirty ||
              registerForm.get('confirmPassword')?.touched)
          "
        >
          <p *ngIf="registerForm.get('confirmPassword')?.errors?.required">
            Campo obrigatório
          </p>
        </div>
      </div>
      <div>
        <button class="btn" type="submit" [disabled]="!registerForm.valid">
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</section>
