.container {
  margin-left: 2.9rem;

  .path {
    padding: 1.5rem;
    width: 95vw;
    border-bottom: 1px solid #d4d4d4;

    h1 {
      font-size: 1.5rem;
      color: #474b4e;
      font-weight: bold;
    }
  }
  .subpath {
    width: 95vw;
    padding: 1.5rem;
    padding-block: 0;
    border-bottom: 1px solid #d4d4d4;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding-right: 2rem;

        i {
          margin-right: 0.5rem;
        }

        .item{
          padding-block: 1.5rem;
        }

        .fa-square {
          transform: rotate(45deg);
        }

        .active {
          color: #005DB8;
          margin-bottom: 0;
          border-bottom: 2px solid #005DB8;
        }
      }
    }

    .item {
      cursor: pointer;
    }
  }

  &-content {
    width: 95vw;
    background-color: #F8F9FD;
    padding: 2rem;
    height: 78vh;

    .content {
      height: 100%;
      background-color: #fff;
    }
  }
}
